@import "tailwindcss";

.tree-container {
  border: 1px solid #e4e4e7;
  border-radius: 8px;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  
  @apply m-[5px] h-[calc(100vh-10px)] max-h-[calc(100vh-10px)] 
    min-h-[calc(100vh-10px)] overflow-y-auto box-border p-1;
}